*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


header{
    background:#1e293b;
    color:white;
    padding:15px 50px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:#40c3fb;
}




.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#0f172a,#1e3a8a);
    color:white;
}

.hero h2{
    font-size:50px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    margin:15px 0;
    font-size:20px;
}

.btn{
    display:inline-block;
    background:#38bdf8;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    background:#0284c7;
}


section{
    padding:70px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:#03070c;
}



.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px 30px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}




.project{
    background:white;
    padding:20px;
    margin:20px auto;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

/* Education */
.edu-box{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    text-align:center;
}




#contact{
    text-align:center;
}




footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}

